<header class="header">
    <div class="header__content">
        <div class="header__item"><img src="" alt="" class="header__logo">Logo</div>
        <div class="header__item"><a class="header__link" href="../index.html">All games</a></div>
    </div>
</header>

<style>
    .header__content{
        display: flex;
        justify-content: space-between;
        padding: 5px 65px;
        color: black;
        background: rgb(227, 241, 227)
    }
    .header__link{
        color: black;
        text-decoration: none;
    }
    .header__link:hover{
        text-decoration: underline;
    }
</style>